body {
    border-style: ridge;
    width: 300px;
    padding: 1em;
    margin: 1em;
    box-shadow: 5px 5px 2px 0px #D3D3D3;
}

body .interesting-fact {
    font-style: italic;
}

img {
    width: 300px;
    height: auto;
}

div .text {
    border-style: ridge;
    padding: 1em;
}

ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

span {
    font-weight: bold;
}